<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Lista de Tarefas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h2>Lista de Tarefas</h2>
        <div th:if="${not #lists.isEmpty(tasks)}">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Descrição</th>
                        <th>Concluída</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="task : ${tasks}">
                        <td th:text="${task.id}"></td>
                        <td th:text="${task.title}"></td>
                        <td th:text="${task.desc}"></td>
                        <td th:text="${task.done ? 'Concluída' : 'Pendente'}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:unless="${not #lists.isEmpty(tasks)}">
            <p>Nenhuma tarefa encontrada.</p>
        </div>

    </div>
</body>

</html>